@media (max-width: 768px) {
    .logo {
        width: 250px;
        height: auto;
        margin: 50px;
    }

    .contact-detail img {
        width: 100%;
        max-width: 325px;
        height: auto;
    }
}
.contact-detail img {
    width: 400px;
    height: auto;
}
.locations-header {
    margin-top: 200px;
}