@media (max-width: 768px) {
    .logo {
        width: 200px;
        height: auto;
        padding-top:  -40px;
    }

    .contact-detail img {
        width: 100%;
        max-width: 325px;
        height: auto;
    }
    .contact {
        padding-top: 50px;
    }
}
.contact-detail img {
    width: 360px;
    height: auto;
}
.locations-header {
    margin-top: -12px;
}
.contact {
    margin-top: -15px;
}
.logo {
    margin: 30px;
}