/* CSS for the order items in a shopping cart */

/* Styles for each order item */
.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    background-color: #3B3B3B;
    margin-bottom: 8px;
}

/* Styles for the food image in an order item */
.order-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Styles for the quantity control buttons */
.quantity-control button {
    border: none;
    background: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
}

/* Styles for the quantity display span */
.quantity-control span {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 50px;
}

/* Styles for the price */
.price {
    font-weight: bold;
    flex-basis: 80px; /* Assign a fixed basis for the price */
}

/* Styles for buttons */
.btn-outline-secondary {
    padding: .375rem .75rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

/* Styles for food names */
.food-name {
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Styles for the food name container */
.food-name-container {
    flex: 1; /* Allow it to grow and fill the space */
    min-width: 0; /* Allows text overflow to work in flex containers */
}

/* Styles for the quantity display */
.quantity-display {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

/* Styles for the quantity control */
.quantity-control {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 1300px; /* Keep the basis but make sure it fits in the mobile view */
}

/* Media query for screens with a max width of 767px */
@media (max-width: 767px) {
    .quantity-control {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 1px; /* Keep the basis but make sure it fits in the mobile view */
    }

    /* Adjust styles for smaller screens */
    .food-name-container {
        width: 100%; /* Full width */
    }

    .quantity-control {
        width: 80%; /* Full width */
        margin-left: 205px;
    }

    .price {
        width: 100%;
        text-align: right;
        margin-top: 0px;
    }

    .food-name {
        font-size: 0.8em; /* Smaller font size */
        text-align: center;
        margin-top: 0px;
    }

    .price, .quantity-display {
        font-size: 0.9em; /* Smaller font size */
    }

    /* Adjust button sizes for easier touch targets on mobile */
    .quantity-btn.decrease, .quantity-btn.increase {
        width: 20px;
        height: 20px;
    }

    /* If the text is still overlapping, consider hiding less important elements */
    .food-name-container .text-overflow-ellipsis {
        display: none; /* Hide on small screens if necessary */
    }

    .food-name-container {
        max-width: 30%; /* You may need to adjust the percentage for smaller screens */
    }
    .name {
        margin-top: 10px;
    }
}

/* Styles for quantity control buttons */
.quantity-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.85em;
    margin: 0 5px;
}

/* Styles for quantity increase and decrease buttons */
.quantity-btn.decrease, .quantity-btn.increase {
    background: #FFFFFF66;
}

/* Hover styles for quantity increase button */
.quantity-btn.increase:hover {
    background: #C1FFC1;
}

/* Hover styles for quantity decrease button */
.quantity-btn.decrease:hover {
    background: #FFC0CB;
}

/* Styles for the totals container */
.totals-container {
    background-color: #3B3B3B;
    border-radius: 5px;
    position: relative; /* Set the position to relative so that absolute positioning of children is relative to this container */
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    justify-content: center;
}

/* Styles for elements inside the totals container */
.totals-container div {
    margin: 5px 0 10px;
}

/* Styles for the payment button */
#payment-button {
    padding: 5px 15px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}

/* Styles for the total */
.total {
    margin-bottom: 50px;
    font-size: 1.3rem;
    font-weight: bold;
}

/* Styles for subtotal and related elements */
.subtotal div {
    margin-top: 20px;
}

/* Styles for subtotal, discount, GST, service charge, and total elements */
.subtotal, .discount, .gst, .service, .total {
    padding-left: 10px;
}