.discount-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #3B3B3B; /* Dark background */
    margin-left: 0;
    margin-right: auto; /* Align to the left side */
    color: #FFFFFF; /* Light text color for contrast */
}

.card-img-top {
    height: 150px; /* Fixed height for uniformity */
    object-fit: cover; /* Ensures the image covers the area nicely */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 15px;
}

.redeem-btn {
    background-color: #B0B0B0; /* Lighter shade for the button */
    color: #3B3B3B; /* Dark text on the button for contrast */
    width: 100%; /* Button takes full width of card body */
    border: none; /* Optional: removes button border */
    border-radius: 5px; /* Optional: adds rounded corners to the button */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.redeem-btn:hover {
    background-color: #B0B0B0;
    color: white;
    border: 1px solid whitesmoke;
}

.point-link {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: #494949;
    border: 1px solid grey;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

@media (max-width: 767px) {

    /* Ensure Shopping Cart Icon is visible in Mobile View */
    .point-link {
        display: block; /* Ensures the container is displayed */
        position: fixed;
        top: 60px; /* Adjust position as needed */
        left: auto; /* Adjust position as needed */
        z-index: 1000;
        background-color: #494949;
        border: 1px solid grey;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .name {
        margin-top: 5px;
        margin-left: 5px;
        font-size: 1.8em;
    }
}